.checkbox-wrapper {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #E1E8EC;
}

.checkbox-wrapper input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.checkbox-label {
  padding-left: 35px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: 2px;
}

.checkbox-wrapper input[type=checkbox]:checked + .checkbox-check::after {
  opacity: 1;
}

.checkbox-wrapper input[type=checkbox]:focus + .checkbox-check {
  outline: 1px dotted #aaa;
}

.checkbox-check {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-check::after {
  content: '';
  display: block;
  background: url("data:image/svg+xml;utf8,<svg width='15px' height='13px' viewBox='0 0 15 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'><g transform='translate(-3.000000, -4.000000)' fill-rule='nonzero' stroke='%23589A50' stroke-width='2'><g id='Checkbox'><polyline id='Path-2' points='4 10.8992892 8.48585263 15.13956 16.6614958 5'></polyline></g></g></g></svg>") no-repeat center center;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 225ms ease-in-out;
}