input {
  box-shadow: 0;
}

:focus {
  outline: 1px dotted #999;
  box-shadow: 0 0 2px 1px rgba(16,124,158,0.2);
}

[type="text"],
[type="password"],
.select-wrapper select {
  width: 100%;
  max-width: 415px;
  background: transparent;
  transition: border-color 225ms ease-in-out;
  @apply border border-solid border-l-off-black p-2 rounded-none text-l-text;
}

[type="text"]:focus,
[type="password"]:focus,
.select-wrapper select:focus {
  outline: 0;
  border-color: #107C9E;
}

.form-control {
  @apply mt-4;
}

.form-actions {
  @apply mt-8 text-center;
}

.input-caption {
  @apply text-sm;
}