<div class="footer-nav container mx-auto max-w-2xl">
  <div class="flex flex-wrap justify-between mb-4 -mx-4">
    <div class="w-full xs:w-1/2 md:w-auto px-4">
      <h4 class="mb-2"><a href="https://linode.com/linodes">Overview</a></h4>
      <ul class="list-reset text-sm">
        <li><a href="https://linode.com/pricing">Plans &amp; Pricing</a></li>
        <li><a href="https://linode.com/linodes">Features</a></li>
        <li><a href="https://linode.com/addons">Add-Ons</a></li>
        <li><a href="https://linode.com/managed">Managed</a></li>
        <li><a href="https://linode.com/professional-services">Professional Services</a></li>
      </ul>
    </div>
    <div class="w-full xs:w-1/2 md:w-auto px-4">
      <h4 class="mb-2"><a href="https://linode.com/docs">Resources</a></h4>
      <ul class="list-reset text-sm">
        <li><a href="https://linode.com/docs">Guides &amp; Tutorials</a></li>
        <li><a href="https://linode.com/speedtest">Speed Test</a></li>
        <li><a href="https://linode.com/community">Community</a></li>
        <li><a href="https://linode.com/chat">Chat</a></li>
        <li><a href="http://status.linode.com/">System Status</a></li>
      </ul>
    </div>
    <div class="w-full xs:w-1/2 md:w-auto px-4">
      <h4 class="mb-2"><a href="https://linode.com/about">Company</a></h4>
      <ul class="list-reset text-sm">
        <li><a href="https://linode.com/about">About Us</a></li>
        <li><a href="https://blog.linode.com">Blog</a></li>
        <li><a href="https://linode.com/press">Press</a></li>
        <li><a href="https://linode.com/referrals">Referral System</a></li>
        <li><a href="https://linode.com/careers">Careers</a></li>
      </ul>
    </div>
    <div class="w-full xs:w-1/2 md:w-auto px-4">
      <h4 class="mb-2"><a href="https://linode.com/agreement">Legal</a></h4>
      <ul class="list-reset text-sm">
        <li><a href="https://linode.com/agreement">Customer Agreement</a></li>
        <li><a href="https://linode.com/tos">Terms of Service</a></li>
        <li><a href="https://linode.com/privacy">Privacy Policy</a></li>
        <li><a href="https://linode.com/aup">Acceptable Use Policy</a></li>
      </ul>
    </div>
    <div class="w-full xs:w-1/2 md:w-auto px-4">
      <h4 class="mb-2"><a href="https://linode.com/contact">Contact Us</a></h4>
      <ul class="list-reset text-sm">
        <li><a href="tel:+18554546633">855-4-LINODE</a></li>
        <li><a href="tel:+18554546633">(855-454-6633)</a></li>
        <li><a href="tel:+16093807100">Intl.: +1 609-380-7100</a></li>
        <li><a href="mailto:support@linode.com">Email us</a></li>
        <li>
          <a target="_blank" href="https://twitter.com/linode">
            {{ partial "0_svgs/twitter.svg" }}
          </a>
          <a target="_blank" href="https://plus.google.com/+linode/">
            {{ partial "0_svgs/googleplus.svg" }}
          </a>
          <a target="_blank" href="https://facebook.com/linode">
            {{ partial "0_svgs/facebook.svg" }}
          </a>
          <a target="_blank" href="https://linkedin.com/company/linode">
            {{ partial "0_svgs/linkedin.svg" }}
          </a>
          <a target="_blank" href="https://github.com/linode/">
            {{ partial "0_svgs/github.svg" }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>